
.adventure{
    margin: 0px;
      /* margin-left: 100px;
      margin-right: 250px; */
    font-family:"Times New Roman", Times, serif;
  }    
    
    .adventure h3 {
      text-align: left;
      font-size: 25px;
    }
    
    .image-container {
      display: flex;
      flex-direction: row; /* Stack images horizontally */
      justify-content: center; /* Center items horizontally */
      margin-bottom: 30px;
      /* overflow-wrap: break-word; */
    font-size: 18px;
    }
    

  .image-container img {
    margin-bottom: 10px; /* Add spacing between images (optional) */
    border-radius: 2%;
    margin-right: 60px; /* Increase space between two iamges*/

  }
    
  .diary-entry {
  /* Add styles for the overall entry container (optional) */
  margin-bottom: 20px; /* Add spacing between entries */
  padding: 10px; /* Add padding for content */
}

.diary-entry h3 {
  margin-bottom: 5px; /* Add spacing after title */

}

.diary-entry-details {
  font-style: italic; /* Italicize description for distinction */
  margin-top: 0; /* Remove default margin from top */
}



 
    
    @media only screen and (min-width: 0px) and (max-width: 1600px) {
      
      body {
        margin: 0px;
        margin-left: 10px;
        margin-right: 10px;
      }
  
      nav {
          justify-content: right;
        }
        .nav-item {
          padding-right: 10px;
          padding-left: 20px;
            }
  
      .adventure{
        margin-left: 5px;
        margin-right: 3px;
      }
    
      .adventure-name{
        display: grid;
      }
  
      .adventure-discription {
        display: contents;
      }
    
    }
    
    

    /* Responsive website implementation ends */
  