
#me {
  width: 180px;
  border-radius: 4%; 
   /* For making circular(100) */
}



body{
  margin: 0px;
  margin-left: 20px;
}

main{
  margin-left: 25px;
  margin-right: 30px;
  margin-top: 0;
}

h1{
  text-align: center;
}

/* Header info */

.hero {
  background-color: white;
  height: 15vh;
  position: relative;
  color: #461165;
}


/* For navigation bar */

#navBar {
  position: relative;
  top: 0;
  width: 95%;
  z-index: 100;
  /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3); */
  color: gray;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  background-color: white;
  
}

.block-display div {
  margin: 20px 0px 20px 0px;
  display: block;
  font-weight: bold;
}

#nav-list a {
  -webkit-transition: 0.5s all ease-out;
  -moz-transition: 0.5s all ease-out;
  transition: 0.5s all ease-out;
  border-top: 3px solid white;
  font-size: 18px;
}

/* #nav-list li a.active-page {
  color: #251d74;
} */

#nav-list ul li a.active-page
{
  color: #251d74;
}

#nav-list .nav-link {
  color: #999da0;
}
#nav-list a:hover {
  color:  #251d74;
}

.dropbtn {
  background-color: #461165;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-toggler-icon {
  color: #f1f1f1;
}

.dropbtn:hover,
.dropbtn:focus {
  opacity: 0.8;
}


.show {
  display: block;
}

.navbar a{
  text-decoration: none;
}


.navbar li{
  float: left;
  list-style-type: none;
  float: left;
  overflow: hidden;
}

.navbar ul{
float: right; 
}

/* Navigation Bar Ends */


/* .flex-row {
  display: flex;
  text-align: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
} */

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
}

.flex-item {
  margin: 0 20px;
}

/* For displaying image */

img{
  float: left;  
  margin-right: 20px;
  /* space between image and text */
}
.image-container {
  display: flex;
  /* align-items: center; */
}

.image-name {
  float: right;  
  margin-right: 1px;
  position: relative;
  top: 0;
  left: 500px;
  width: 300px;
  height: 200px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  /* text-align: center; */
  padding: 10px;
}



.image-text{
  font-size: 20px;
  padding-top: 0%;
  float: left;
  padding-left: 0px;
}

/* image display ends */

/* About section starts */

.aboutme{
  text-align: left;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-left: 200px;
  margin-right: 150px;
}

.aboutme h2{
  text-align: left;
  font-size: 30px;
}
/* About section ends */


/* Experience section begins */
.experience{
  text-align: left;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-left: 200px;
  margin-right: 150px;
}

.experience h2{
  text-align: left;
  font-size: 30px;
}   

.experience-date{
  font-size: 15px;
}

.experience-date{
  font-size: 15px;
}

/* Experience section ends */


/* Project section begins */
.project{
  text-align: left;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-left: 200px;
  margin-right: 150px;
}

.project h2{
  text-align: left;
  font-size: 30px;
}  

.project h3{
  text-align: left;
  font-size: 15px;
}   

.project-name{
  font-size: 20px;
}

.project-date{
  font-size: 15px;

}
/* Project section ends */

/* Awards section begins */
.award{
  text-align: left;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-left: 200px;
  margin-right: 150px;
}

.table.award-table {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 15px;  
  border-collapse: collapse;

}
.table.award-table th, td{
  border: 1px solid black;
}
/* Awards section ends */




/* Community Involvement Section begins */
.community{
  text-align: left;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-left: 200px;
  margin-right: 150px;
}

.community h2{
  text-align: left;
  font-size: 30px;
}   

.community-date{
  font-size: 15px;
}

.community-date{
  font-size: 15px;
}


/* Community Involvement Section ends  */

/* For social media  */
.social {
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: center  ;

}

.social a {
  color: #6c757d;
  padding: 5px;
  border-radius: 10%;
  font-size: 25px;
  margin: 5px;
  text-align:center; 
  cursor: pointer;
  transition: transform 0.2s ease;
}

.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-decoration: none;
  border-radius: 50%;
  height: 0.1px;
  
}

.fa-github:hover {
  color: #461165;
  text-decoration: none;
  transform: scale(1.2);
} 

.fa-linkedin:hover {
  color: #0077b5;
  text-decoration: none;
  transform: scale(1.2);
}

/* For CV button */
.buttonDiv {
  margin: 10px 9px 10px 5px;
  text-align:center; 

}

.resumeButton {
  padding: 8px 10px;
  margin-bottom: 10px;
  border: none;
  background-color: #6c757d;
  border-radius: 5px;
  color: white;
  

}

.resumeButton:hover {
  text-decoration: none;
  background-color: #112e65;
  color: white;
}

/* Image and Text */


/* volunteer page starts */

/* For displaying image */
.volunteer{
  margin-left: 100px;
  margin-right: 150px; 
}
.volunteer-name{
  display: flex;
  justify-content: start;
  align-items: start;
  min-width: 150vh;
  margin: 10px auto;
  width: 80%;
  /* text-align: left; */
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;

}

.volunteer-date{
  margin-left: 15px;
}

.volunteer img{
  float: left;  
  margin-left: 15px;
  height: auto;
  width:100%;
  /* width: auto; */
  /* aspect-ratio: attr(width) / attr(height); */
  /* max-width: 100%;  */
  /* space between image and text */
}


.voluntImg-name {
  float: right;  
  margin-right: 1px;
  /* position: relative; */
  top: 0;
  /* left: 60%; */
  /* width: 400px;
  height: 300px; */
  /* background-color: rgba(0,0,0,0.5);
  color: white; */
  /* text-align: center; */
  padding: 10px;
}



/* .volunteer image-text{
  font-size: 20px;
  padding-top: 3%;
  float: left;
  padding-left: 0px;
} */


/* .volunteer-text{
  text-align: left;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  margin-left: 50px;
  margin-right: 150px;
} */
.volunteer h2{
  text-align: left;
  font-size: 30px;
}   

.volunteer h1{
  text-align: left;
  font-size: 30px;
}

.volunteer-text{
  font-size: 20px;
  padding-top: 0%;
  float: right;
  padding-left: 0px;
}
/* volunteer page ends */

/* For Home Page decoration */





/* Look for spacing between sections */