#me {
    width: 180px;
    border-radius: 4%;
    /* For making circular(100) */
  }
  html {
    overflow-x: hidden;
  }
  
  body {
    margin: 0px;
    margin-left: 20px;
    margin-right: 150px;
    /* margin-top: 250px; */
  }
  
  /* main{
    margin-left: 25px;
    margin-right: 40px;
    margin-top: 0;
  } */
  
  h1 {
    text-align: center;
  }
  
  /* Header info */
  
  .hero {
    background-color: white;
    height: 8vh;
    position: relative;
    color: #461165;
  }
  
  /* For navigation bar */
  
  nav#navbarH {
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
    /* border: 2px solid blue; */
  }
  
  .nav-links {
    position: relative;
    display: flex;
    /* Responsible for bottom up kind of setup in navbar */
    justify-content: space-around;
    width: 10%;
    /* Distance between topics on navbar */
  }
  
  .nav-links li {
    list-style: none;
    /* Removes bulletin from topics */
  }
  
  .nav-links a {
    color: rgb(18, 17, 17);
    text-decoration: none;
    /* letter-spacing: 3px; */
    font-weight: bold;
    font-size: 25px;
  }
  
  
  .nav-links li a.active {
    color: #417e4c;
  }
  
  #nav-list a:hover {
    color: #867d8b;
  }
  
  .nav-item {
    padding-right: 60px;
    padding-left: 20px;
  }
  /* Navigation Bar Ends */
  




/* Vertical navBar starts */
nav#navbarV {
  font-family: "Montserrat", sans-serif;
  /* display: flex; */
  background-color: rgb(255, 255, 255);
} 
/* .nav-linksV{
  list-style-type: none;
} */

.nav-itemV a{
  text-decoration: none;


}
.nav-linksV a{
  text-decoration: none;
}

.nav-linksV{
  list-style-type: none;
  /* margin: 0; */
  padding: 0;
  width: 10%;
  background-color: #f1f1f1;
  position: fixed;
  /* height: 100%; */
  /* overflow: auto; */
}

/* 
.nav-itemV li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.nav-itemV li a.active {
  background-color: #04AA6D;
  color: white;
}

.nav-itemV li a:hover:not(.active) {
  background-color: #555;
  color: white;
} */

/* Vertical navBar ends */
  

.content{
  margin-left:15%;
  /* padding:1px 10px; */
  /* height:500px; */
}
  /* Look for spacing between sections */