
.volunteer{
  margin: 0px;
    /* margin-left: 100px;
    margin-right: 250px; */
  font-family:"Times New Roman", Times, serif;
}
.volunteer-discription {
    display: flex;
    justify-content: start;
    align-items: start;
    min-width: 150vh;
    margin: 10px auto;
    width: 80%;
    /* text-align: left; */
    /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
  }
  
  .volunteer-date {
    margin-left: 15px;
  }
  
  .volunteer img {
    float: left;
    margin-left: 15px;
    height: auto;
    width: 100%;
    /* width: auto; */
    /* aspect-ratio: attr(width) / attr(height); */
    /* max-width: 100%;  */
    /* space between image and text */
  }
  
  .voluntImg-name {
    float: right;
    margin-right: 1px;
    /* position: relative; */
    top: 0;
    /* left: 60%; */
    /* width: 400px;
    height: 300px; */
    /* background-color: rgba(0,0,0,0.5);
    color: white; */
    /* text-align: center; */
    padding: 10px;
  }
  
  /* .volunteer image-text{
    font-size: 20px;
    padding-top: 3%;
    float: left;
    padding-left: 0px;
  } */
  
  /* .volunteer-text{
    text-align: left;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    margin-left: 50px;
    margin-right: 150px;
  } */
  
  
  .volunteer h1 {
    text-align: left;
    font-size: 30px;
  }
  
  .volunteer-text {
    font-size: 24px;
    padding-top: 0%;
    float: right;
    padding-left: 0px;
  }
  /* volunteer page ends */
  
  @media only screen and (min-width: 0px) and (max-width: 1600px) {
    
    body {
      margin: 0px;
      margin-left: 10px;
      margin-right: 10px;
    }

    nav {
        justify-content: right;
      }
      .nav-item {
        padding-right: 10px;
        padding-left: 20px;
          }

    .volunteer{
      margin-left: 5px;
      margin-right: 3px;
    }
  
    .volunteer-name{
      display: grid;
    }

    .volunteer-discription {
      display: contents;
    }
  
  }
  
  
  
  
  /* Responsive website implementation ends */
